<section class="about page" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="section_title">
						<h2>Quem sou eu</h2>
						<p>Eu sou um Full Stack Web Developer. O que isso quer dizer? Eu faço websites! Me graduei em Sistemas de Informação mas,
							junto à isso, tenho mais de 6 anos de experiência comercial com web, sempre trabalhando como desenvolvedor de sites
							e soluções para o mercado. Na maioria dos projetos que desenvolvo, trabalho com outros profissionais freelancers,
							onde sempre procuramos utilizar soluções no estado da arte, a fim de melhorar a presença no mundo online do cliente
							em questão. Meus clientes normalmente aproximam-se de mim quando eles precisam de alguém que os possa prover:</p>
						<ul>
							<li><strong>Protótipos de Web Sites</strong>
								<ul>
									<li>Wireframes</li>
									<li>Mockups</li>
								</ul>
							</li>
								<li><strong>Desenvolvimento Front-end</strong>
								<ul>
									<li>HTML/HTML5</li>
									<li>CSS/CSS3</li>
									<li>JavaScript/jQuery</li>
								</ul>
							</li>
							<li><strong>Desenvolvimento Back/Front-end</strong>
								<ul>
									<li>Angular</li>
									<li>Performance</li>
									<li>C#</li>
									<li>Sistemas de Gerenciamento de conteúdo</li>
								</ul>
							</li>
							<li><strong>Melhorias de performance em websites já&nbsp;online</strong>.</li>
						</ul>
						<p>Quando estou desenvolvendo um website, sempre foco em produzir uma solução que alcance seus objetivos ao mesmo tempo
							que ofereça a melhor tecnologia possível. Isso envolve produzir um website que:</p>
						<ul>
							<li>Pode ser acessado de qualquer tipo de dispositivo, com qualquer tamanho de tela, seja este um smartphone ou uma TV,
								através de layouts responsivos.</li>
							<li>É otimizado para performance.</li>
							<!--<li>Segue as melhores práticas de acessibilidade, SEO e usabilidade.</li>-->
							<li>Utiliza a tecnologia mais atual.</li>
							<li>É muito bem documentado e escalável.</li>
						</ul>
						<h2 id="skills">Minhas Skills</h2>
						<p>Possuo uma ampla gama de conhecimentos, todos voltados à web; web-development é minha especialidade. Tendo experiência
							na área de desenvolvimento, sou capaz de produzir projetos com todo o escopo em mente, o que traduz em uma experiência
							coesiva para os seus usuários.</p>
						<h3 id="design">Desenvolvedor Front-End</h3>

						<div class="single_about_area wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
							<div class="logos">
								<div class="logo">
									<img class="alignnone wp-image-52 size-medium" src="images/html-css-js1.png" alt="Front-end" width="300" height="81" sizes="(max-width: 300px) 100vw, 300px">
								</div>
							</div>
						</div>
					</div>
					<br><br>
					<p>Eu crio websites que proporcionam para o usuário a melhor experiência na melhor e mais apropriada tecnologia para o
						projeto em questão. Por trabalhar utilizando a metodologia de melhorias progressivas, o projeto é sempre entregue com
						um layout responsivo que fará o melhor uso do espaço disponível do dispositivo do usuário. A compatibilidade entre
						browsers é garantida utilizando a detecção de features, sendo assim, usuários que ainda trabalham com navegadores antigos
						tem uma experiência sólida com o seu produto.</p>
					<h3>DESENVOLVEDOR BACK-END</h3>
					<div class="single_about_area wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
						<div class="logos">
							<div class="logo">
								<img class="alignnone wp-image-52 size-medium" src="images/backend.png" alt="Back-end" width="300" height="81" sizes="(max-width: 300px) 100vw, 300px">
							</div>
						</div>
					</div>
					<br><br><br><br>
					<p>Em paralelo ao desenvolvimento front-end, também desenvolvo aplicações e sistemas que sejam exatamente o que o cliente
						precisa, seja esta uma plataforma sob-demanda ou alguma customização de plataformas abertas, como o WordPress, por
						exemplo.
						</p>
					<br><br><br><br>
				</div>
			</div>
		</div>
	</section>