<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavController as navCtrll">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:orange !important;" href="#">
                <span><b style="font-family: Consola; font-size:200%;font-weight: bold;">{{ navCtrll.title }}</b> <b style="font-family: Consola; font-size:150%;font-style: oblique;">Diogo Alves</b></span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- NAV -->
                <li><a href="" ng-click="navCtrll.GoToDiv('home')">HOME</a> </li>
                <li><a href="" ng-click="navCtrll.GoToDiv('about')">QUEM SOU EU</a> </li>
                <!--<li><a href="#PORTIFOLIO">PORTIFÓLIO</a></li>-->
                <li><a href="" ng-click="navCtrll.GoToDiv('contact')">CONTATO </a> </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
<!-- /.container- -->
</nav>