	<!-- =========================
     START ABOUT US SECTION
	============================== -->
	<section class="header parallax home-parallax page" id="home" data-ng-controller="HomeController as home">
		<h2></h2>
		<div class="section_overlay">		
			<div class="container home-container">
				<div class="row">
					<div class="col-md-12">
						<div class="logo text-center">
						<!-- TODO: COLOCAR A LOGO AQUI -->
						<!--<img src="images/client_3.png" alt="">-->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="home_text">
							<!-- TITLE AND DESC -->			
							<h1 class="type-text">Se você está em busca de um programador freelancer Full-Stack, entre em contato: diogoa42@gmail.com</h1>
							<p>Graduado em Sistemas de Informação, eu combino minha educação com seis anos de experiência em desenvolvimento web
								para entregar produtos de qualidade para clientes. Quer saber mais? <a href="" ng-click="home.GoToDiv('about')">Clique Aqui.</a></p>

							<div class="download-btn">
								<!-- BUTTON -->
								<a class="tuor btn wow fadeInRight" href="" ng-click="home.GoToDiv('about')">Faça um tour <i class="fa fa-eye"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END HEADER SECTION -->

	<!-- =========================
     START ABOUT US SECTION
============================== -->
	
	<!-- End About Us -->
 <div ng-include src="'views/_about.html'"></div>	

<!-- =========================
     START CONTCT FORM AREA
============================== -->
 <div ng-include src="'views/_contato.html'"></div>	

<!-- END CONTACT -->